#readfilmjud {
    text-align: center;
    color: black;
    border-bottom:solid gray;
    margin:25px;
}

/* body {
    background-color: Gray;
} */

.columnfoto {
    float: left;
    width: 25%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 10px 10px 10px 50px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
  }

#stGambar{
    max-width: 100%;
    max-height: 100%;
}

.columnsinopsis {
    float: left;
    width: 64%;
    padding: 15px;
    text-align: left;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 10px 10px 10px 50px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
}

#isiSinopsis{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.columnumur{
    float: left;
    width: 10%;
    padding: 0px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: -10px 0px 10px 50px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
}
.columnbuy{
    float: left;
    width: 15%;
    padding: 0px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: -10px 0px 10px 0px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
}
#tombol{
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
}

.columngenre {
    float: left;
    width: 64%;
    padding: 10px;
    text-align: left;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: -10px 10px 10px 60px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
}

.columnjam {
    float: left;
    width: 93%;
    padding: 0px;
    text-align: left;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 30px 10px 10px 50px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
}
.columndurasi {
    float: left;
    width: 30%;
    padding: 0px;
    text-align: left;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 30px 10px 10px 50px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
}

.columndata {
    float: left;
    width: 93%;
    padding: 0px;
    text-align: left;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 30px 10px 30px 50px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
}

#tombolkembali {
    margin: 0px 0px 20px 50px;
}
#tomboledit {
    margin: 0px 0px 20px 1070px;
}
#tomboldelete {
    margin: 0px 0px 20px 30px;
}

/* untuk radi button */
@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #40e0d0;
  }
  .option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }

/* */

/* style untuk fil detil penayangan */

.columndetilPenayangan{
    float: left;
    width: 93%;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 10px 10px 10px 50px;
    border-style:solid black; 
    background-color: gray;
    border-width: 5px;
}